<!-- NAVBAR START -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="dashboard" class="w3-button w3-block w3-black">
        <i class="fa fa-beer fa-lg" aria-hidden="true"></i>
        &nbsp; DASHBOARD
      </a>
    </div>
    <div class="w3-col s2">
      <a href="reviews" class="w3-button w3-block w3-black">
        <i class="fa fa-star fa-lg" aria-hidden="true"></i>
        &nbsp; REVIEWS
      </a>
    </div>
    <div class="w3-col s2">
      <a href="list" class="w3-button w3-block w3-black">
        <i class="fa fa-list fa-lg" aria-hidden="true"></i>
        &nbsp; YOUR LIST
      </a>
    </div>
    <div class="w3-col s2">
      <a href="catalogue" class="w3-button w3-block w3-black">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        &nbsp; CATALOGUE
      </a>
    </div>
    <div class="w3-col s2">
      <a href="randomize" class="w3-button w3-block w3-black">
        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
        &nbsp; FEELING LUCKY
      </a>
    </div>
  </div>
</div>
<!-- NAVBAR END -->
