  {{> navbar}}
  <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  </header>

<!-- FORM STARTS HERE  -->
<div class="w3-display-middle" style=" margin-top: 20em;">
  <div class="w3-container">

    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card-2 w3-hover-opacity-off w3-quarter">
        <!-- FOR LATER USE: <form id="dashboard" name="dashboard" method="post" action="/signup"> -->
        <form id="catalogue" name="catalogue">

        <!-- Take Info from this form and move to user's personal profile list
             Can use the user's input as a req.params -->
        <h3><label for="name">Beer Name</label><h3>
          <input class="text" name="name" type="text" />
          <h3><label for="type">What Type?</label></h3>
          <input class="text"name="search" type="text" placeholder="IPA"/>
          <h3><label for "clarity">Clarity?</label></h3>
          <input class="text" name="clarity" type="text" placeholder="Foggy"/>
          <h3><label for "Hue">Hue?</label></h3>
          <input class="text" name="hue" type="text" placeholder="Golden"/>
          <h3><label for "Bitterness Units">International Bitterness Units?</label></h3>
          <input class="text" name="ibu" type="text" placeholder="60"/>
          <h3><label for "Bubble Size">Bubble Size?</label></h3>
          <input class="text" name="bubble size" type="text" placeholder="Large"/>
          <h3><label for "Head">Head?</label></h3>
          <input class="text" name="head" type="text" placeholder="Firm Head"/>
          <input class="btn" type="submit" value="Submit!" />


        </form>
      </div>
    </div>

    <div class="w3-container">

      <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card-2 w3-hover-opacity-off">
        <div class="w3-container">
          <p class="w3-large"><b>Past Beers!</b></p>
        </div>
        <div class="container"></div>
        <div class="panel-body">
          <table class="table table-hover" style="width:100%" id='beers-table'>
            <thead>
              <tr>
                <th>Beer Names</th>
                <th>Type</th>
                <th>Clarity</th>
                <th>Hue</th>
                <th>Bitterness Units</th>
                <th>Bubble Size</th>
                <th>Head</th>
                <th>Your Rating</th>
              </tr>
            </thead>
            <tbody>
              {{#each beers}}
                <tr> {{ name }} {{ description }} </tr>
              {{/each}}
              <!-- <tr>
                <th> -->

            </tbody>
          </table>
        </div>
      </div>
      <br>
    </div>
  </div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>

<script>


  $('.btn').click(function(e){
    e.preventDefault();

    console.log('THIS WORKS!!!!');

    $.get('/beers',
    {
      search: $('input[name="search"]').val()
    },
    // function(res){
    //   // console.log(res);
    //   for (var i = 0; i < res.length; i++) {
    //     var tr = $('<tr>');
    //     var td = $('<td>');
    //     var td2 = $('<td>');
    //     td.text(res[i].name);
    //     td2.text(res[i].description);
    //     tr.append(td);
    //     tr.append(td2);
    //     $('tbody').append(tr);
    //   }
    // }
  )

  })
</script>
